<footer class="main-footer">
	<div class="container">
		<div class="pull-right hidden-xs">
			<b>POS</b> v<%- locals.version %>
		</div>
		<strong>Copyright © 2016-2017 <a href="https://alutechno.io">PT. Akhirat Lebih Utama</a>.</strong> All rights reserved.
	</div>
</footer>