<title><%- client.description %> | <%- client.page %></title>
<link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/icon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
<link rel="manifest" href="/icon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<!-- AdminLTE -->
<link rel="stylesheet" href="/tmpl/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/tmpl/plugins/iCheck/square/blue.css">
<link rel="stylesheet" href="/tmpl/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="/tmpl/dist/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/vendor/ionicons/css/ionicons.min.css">
<link rel="stylesheet" href="/vendor/bootstrap-table/dist/bootstrap-table.min.css">
<!-- Virtual keyboard -->
<!--<link rel="stylesheet" href="/vendor/vkeyboard/docs/css/jquery-ui.min.css">-->
<link rel="stylesheet" href="/vendor/vkeyboard/docs/css/jquery-ui-white.css">
<link rel="stylesheet" href="/vendor/vkeyboard/dist/css/keyboard.min.css">
<link rel="stylesheet" href="/vendor/vkeyboard/css/keyboard-previewkeyset.css">
 <!-- Personal -->
<link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<link rel="stylesheet" href="/css/style.css">
