<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<% include part/header-css.ejs %>
	<% include part/header-js.ejs %>
</head>
<body class="hold-transition skin-blue fixed layout-top-nav sidebar-mini">
<div class="wrapper">
	<% include part/navbar.ejs %>
	<div class="content-wrapper">
		<div class="container">
			<section class="content">
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<div class="box box-info">
									<div class="box-header">
										<div class="row">
											<div id="order" class="col-md-7" style="border-right:1px solid rgba(128, 128, 128, 0.26);"></div>
											<div id="meal-time" class="col-md-5"></div>
										</div>
										<hr style="margin-top: 10px;">
										<div class="form-group row" style="margin-bottom: 0">
											<div class="col-sm-4">
												<label for="#menu-class">Menu Class</label>
												<select class="form-control" name="menu-class" id="menu-class"></select>
											</div>
											<div class="col-sm-4">
												<label for="#select-sub-class">Sub Class</label>
												<select class="form-control" name="menu-sub-class" id="menu-sub-class"></select>
											</div>
											<div class="col-sm-4">
												<label for="#search-menu">Find</label>
												<input class="form-control" type="text" name="menu-finder" placeholder="Search" id="menu-finder"/>
											</div>
										</div>
									</div>
									<div class="box-body" style="padding: 10px 0 0 0;">
										<div class="row">
											<div class="col-lg-12">
												<div class="col-lg-12" id="menu" style="max-height: 868px;overflow-y: auto;"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12">
								<div class="box box-danger">
									<div class="box-header">
										<code>Payments</code>
										<div class="pull-right" id="is-paid" style="display: none;">
											<span class="badge" style="font-weight: lighter; margin-right: 5px"></span>
										</div>
									</div>
									<div class="box-body text-center" style="padding-left: 0;">
										<a class="btn btn-app payment-btn" data-toggle="modal" href="#modal-cash" id="pay-cash">
											<i class="fa fa-money"></i>
											Cash
										</a>
										<a class="btn btn-app payment-btn" data-toggle="modal" href="#modal-card" id="pay-card">
											<i class="fa fa-credit-card"></i>
											Card
										</a>
										<a class="btn btn-app payment-btn" data-toggle="modal" href="#modal-charge-to-room" id="pay-charge-to-room">
											<i class="fa fa-edit"></i>
											Charge room
										</a>
										<a class="btn btn-app payment-btn" data-toggle="modal" href="#modal-house-use" id="pay-house-use">
											<i class="fa fa-tags"></i>
											House use
										</a>
										<!--
										<a class="btn btn-app payment-btn" data-toggle="modal" href="#modal-city-ledger" id="pay-city-ledger">
											<i class="fa fa-plane"></i>
											City Ledger
										</a>
										<a class="btn btn-app payment-btn" data-toggle="modal" href="#modal-voucher" id="pay-voucher">
											<i class="fa fa-ticket"></i>
											Voucher
										</a>
										-->
										<a class="btn btn-app payment-btn" data-toggle="modal" href="#modal-no-post" id="pay-no-post">
											<i class="fa fa-exclamation"></i>
											No Post
										</a>
										<a class="btn btn-app payment-btn" data-toggle="modal" href="#modal-split" id="pay-split">
											<i class="fa fa-arrows-alt"></i>
											Split
										</a>
										<a class="btn btn-app" data-toggle="modal" href="#modal-merge" id="merge-tables">
											<i class="fa fa-arrow-down" aria-hidden="true"></i>
											Merge
										</a>
										<button class="btn btn-app btn-warning" id="open-cash-draw">
											<i class="fa fa-th-large"></i>
											Cash Draw
										</button>
										<button class="btn btn-app btn-warning" id="print-billing">
											<i class="fa fa-print"></i>
											Print Bill
										</button>
										<button class="btn btn-app" id="void-billing">
											<i class="fa fa-ban"></i>
											Void Bill
										</button>
										<button class="btn btn-app" id="reprint-billing">
											<i class="fa fa-files-o"></i>
											Reprint Bill
										</button>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="box box-success">
									<div class="box-body" style="padding-top: 0;">
										<table id="order-menu" data-classes="table table-striped table-no-bordered"
											   data-toggle="table" data-height="300" xdata-row-style="rowStyle">
											<thead>
											<tr>
												<th data-field="void"
													data-halign="center"
													data-align="center"
													data-formatter="miscFn1"
													data-events="miscFn1Cfg">#</th>
												<th data-field="no" data-halign="center" data-align="center">No</th>
												<th data-field="name">Menu</th>
												<th data-field="order_qty" data-halign="right" data-align="right">Q</th>
												<th data-field="order_void_" data-halign="right" data-align="right">V</th>
												<th data-field="total_amount_" data-halign="right" data-align="right">Amount</th>
											</tr>
											</thead>
										</table>
										<table class="table table-striped" id="order-summary">
											<tbody></tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="box box-primary">
									<div class="box-header">
										<code>Order Control</code>
									</div>
									<div class="box-body text-center" style="padding-left: 0;">
										<a class="btn btn-app bg-grey" data-toggle="modal" href="#modal-add-note" id="order-note">
											<i class="fa fa-edit"></i>
											Note
										</a>
										<a class="btn btn-app bg-grey" data-toggle="modal" href="#modal-print" id="print-order">
											<i class="fa fa-print"></i>
											Print Order
										</a>
										<a class="btn btn-app bg-grey" data-toggle="modal" href="#modal-open-menu" id="open-menu">
											<i class="fa fa-edit" data-toggle="modal"></i>
											Open Menu
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<% include part/footer.ejs %>
</div>
<div class="modal fade" id="modal-qty" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modal-label">
					?
				</h4>
			</div>
			<div class="modal-body">
				<div class="form-group has-feedback">
					<label for="#qty">Qty:</label>
					<input placeholder="0" type="currency" class="form-control" id="qty" required>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button id="submit" type="button" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-void" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modal-label">
					?
				</h4>
			</div>
			<div class="modal-body">
				<div class="form-group has-feedback">
					<label for="#qty">Void Qty:</label>
					<input placeholder="0" type="currency" class="form-control" id="qty" required>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button id="submit" type="button" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-cash" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-label">Cash Payment</h4>
			</div>
			<div class="modal-body">
				<div id="info"></div>
				<div class="row">
					<div class="col-lg-6">
						<span>Cash with</span>
					</div>
					<div class="col-lg-6 text-right">
						<input type="currency" class="form-control" id="amount">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<span>Change</span>
					</div>
					<div class="col-lg-6 text-right">
						<span id="change" style="margin-right: 13px;"></span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-card" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modal-label">Debit/Credit Card Payment</h4>
			</div>
			<div class="modal-body">
				<div id="info"></div>
				<div class="row">
					<div class="col-lg-3">
						<div class="form-group">
							<span>Type</span>
							<select class="form-control" id="cc-type">
								<option value="credit">Credit</option>
								<option value="debit">Debit</option>
							</select>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="form-group">
							<span>Bank</span>
							<span>EDC</span>
							<select class="form-control" id="bank-type"></select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<input id="card-swiper" type="force-text" class="form-control" placeholder="Tap here, then swipe the card">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-7">
						<div class="form-group">
							<span>Number</span>
							<input id="card-no" type="text" class="form-control">
						</div>
					</div>
					<div class="col-lg-5">
						<div class="form-group">
							<span>Name</span>
							<input id="customer-name" type="text" class="form-control">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-charge-to-room" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modal-label">Charge to Room</h4>
			</div>
			<div class="modal-body">
				<div id="info"></div>
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<span>Customer</span>
							<select class="form-control" id="customer"></select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<span>Check In</span>
						<span> : </span>
						<span id="check-in-date"></span>
					</div>
					<div class="col-lg-6">
						<span>Departure</span>
						<span> : </span>
						<span id="departure-date"></span>
					</div>
					<div class="col-lg-6">
						<span>Cash Bases</span>
						<span> : </span>
						<span id="is-cash-bases"></span>
					</div>
					<div class="col-lg-6">
						<span>Room Only</span>
						<span> : </span>
						<span id="is-room-only"></span>
					</div>
					<div class="col-lg-6">
						<span>Reservation Type</span>
						<span> : </span>
						<span id="reservation-type"></span>
					</div>
					<div class="col-lg-6">
						<span>Room No</span>
						<span> : </span>
						<span id="room-no"></span>
					</div>
					<div class="col-lg-6">
						<span>Room Rate</span>
						<span> : </span>
						<span id="room-rate-code"></span>
					</div>
					<div class="col-lg-6">
						<span>Room Type</span>
						<span> : </span>
						<span id="room-type"></span>
					</div>
					<div class="col-lg-6">
						<span>VIP Type</span>
						<span> : </span>
						<span id="vip-type"></span>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<span>Notes</span>
							<textarea id="note" style="width: 100%;height: 60px;"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-no-post" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-label">No Post</h4>
			</div>
			<div class="modal-body">
				<div id="info"></div>
				<div class="col-lg-12">
					<div class="form-group">
						<span>Notes</span>
						<textarea id="note" style="width: 100%;height: 60px;"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-house-use" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-label">House Use</h4>
			</div>
			<div class="modal-body">
				<div id="info"></div>
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<span>House use</span>
							<select class="form-control" id="house-use"></select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<span>Period</span>
						<span> : </span>
						<span id="period"></span>
					</div>
					<div class="col-lg-12">
						<span>House use</span>
						<span> : </span>
						<span id="house-use-info"></span>
					</div>
					<div class="col-lg-12">
						<span>Cost Center</span>
						<span> : </span>
						<span id="cost-center"></span>
					</div>
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-6">
								<span>Monthly Spent</span>
							</div>
							<div class="col-lg-6 pull-right">
								<span id="max-spent" class="pull-right"></span>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-6">
								<span>Current Transaction Amount</span>
							</div>
							<div class="col-lg-6 pull-right">
								<span id="current-balance" class="pull-right"></span>
							</div>
						</div>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<span>Notes</span>
							<textarea id="note" style="width: 100%;height: 60px;"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-split" role="dialog">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modal-label">Split Billing</h4>
			</div>
			<div class="modal-body" style="padding-bottom: 0px;">
				<div id="info"></div>
				<div class="row">
					<div class="col-lg-6">
						<label>Balance</label>
					</div>
					<div class="col-lg-6 text-right">
						<label style="margin-right: 13px;" id="balance">0.00</label>
					</div>
				</div>
				<hr style="margin-top: 5px; margin-bottom: 1px"/>
				<hr style="margin-top: 1px; margin-bottom: 5px"/>
				<div class="row" id="no-state">
					<div class="col-sm-12">
						<div class="form-group row">
							<h5 class="col-sm-2 control-label">
								<span>Split type</span>
							</h5>
							<div class="col-sm-4">
								<select class="form-control" id="mode">
									<option value="">- Choose one -</option>
									<option value="amount">Amount</option>
									<option value="item">Items</option>
									<!--
									<option value="event">Evently</option>
									-->
								</select>
							</div>
							<h5 class="col-sm-1 control-label">
								<span>by</span>
							</h5>
							<div class="col-sm-2">
								<input type="number" class="form-control" id="mode-counter"/>
							</div>
						</div>
					</div>
					<div class="col-sm-12" id="item-splitter">
						<div class="row">
							<div class="col-sm-6">
								<table id="items"
									   data-classes="table"
									   data-toggle="table"
									   data-height="200"
									   data-click-to-select="true">
									<thead>
									<tr>
										<th data-field="state" data-checkbox="true" data-formatter="miscFn2"></th>
										<th data-field="name">Menu</th>
										<th data-field="price_amount_" data-align="right" data-halign="center">Price</th>
										<th data-field="sheet" data-align="right" data-halign="center">Sheet #</th>
									</tr>
									</thead>
								</table>
							</div>
							<div class="col-sm-1 text-center" style="padding: 0;">
								<button class="btn btn-md btn-default" id="to-right">
									<i class="fa fa-arrow-right" aria-hidden="true"></i>
								</button>
							</div>
							<div class="col-sm-5">
								<table id="sheets"
									   data-classes="table"
									   data-toggle="table"
									   data-height="200"
									   data-click-to-select="true">
									<thead>
									<tr>
										<th data-field="state" data-radio="true"></th>
										<th data-field="name">Sheet #</th>
										<th data-field="total_" data-align="right" data-halign="center">Total</th>
										<th data-field="reset"
											data-halign="center"
											data-align="center"
											data-formatter="miscFn3"
											data-events="miscFn3Cfg"></th>
									</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div id="state" style="display:none;">
					<div class="row">
						<div class="col-sm-12">
							<h5>
								<span id="mode-label-0"></span>
								<span style="margin: 0 10px;">/</span>
								<span id="mode-label-1"></span>
							</h5>
						</div>
					</div>
					<div class="row" id="payment-state" style="max-height: 300px;overflow-y: auto;display: none;margin-bottom: 15px;"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">Next</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-merge" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modal-label">Choose Tables</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-6">
						<span>This Table</span>
					</div>
					<div class="col-lg-6 text-right">
						<span  style="margin-right: 22px;" id="home-total">0.00</span>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-lg-12">
						<div style="max-height: 500px;overflow: auto;">
							<ul id="check-list-box" class="list-group checked-list-box"></ul>
						</div>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-6">
								<span>Grand Total</span>
							</div>
							<div class="col-lg-6 pull-right">
								<span id="grandtotal" class="pull-right" style="margin-right: 25px;">0.00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-reprint-billing" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Reprint Paid Bill</h4>
			</div>
			<div class="modal-body" style="padding-bottom: 0px;">
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Method</th>
									<th>Amount</th>
									<th>Change</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-sm-6 pull-right">
						<button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-void-billing" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modal-label">
					Void Bill
				</h4>
			</div>
			<div class="modal-body">
				<div class="form-group has-feedback">
					<label for="#qty">Notes:</label>
					<input placeholder="Add customer notes here" type="text" class="form-control" id="notes">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-print-order" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Print Order</h4>
			</div>
			<div class="modal-body" style="padding-bottom: 0px;">
				<div class="row" id="printContentDefault">
					<div class="col-sm-12">
						<table class="table table-bordered">
							<thead>
							<tr>
								<th>Qty</th>
								<th>Menu</th>
								<th>Printer</th>
							</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div class="row" id="printContentManual">
					<div class="col-sm-12">
						<ul id="check-list-box" class="list-group checked-list-box"></ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-sm-6">
						<div class="pull-left">
							<button class="btn btn-primary" id="manualprint">Print</button>
							<button class="btn btn-default" id="print">Print</button>
							<button class="btn btn-primary" id="reprint">Reprint</button>
						</div>
					</div>
					<div class="col-sm-6 pull-right">
						<button type="button" class="btn btn-danger" id="printtoogle" state="default">Manual Print</button>
						<button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-open-menu" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Open Menu</h4>
			</div>
			<div class="modal-body" style="padding-bottom: 0px;">
				<div class="row">

				</div>
				<div class="row">
					<div class="col-lg-3">
						<div class="form-group">
							<span>Meal Time</span>
							<select class="form-control" id="open-meal-time"></select>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-group">
							<span>Menu Class</span>
							<select class="form-control" id="open-menu-class"></select>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="form-group">
							<span>Menu Sub Class</span>
							<select class="form-control" id="open-menu-sub-class"></select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-7">
						<div class="form-group">
							<span>Name</span>
							<input class="form-control" id="open-menu-name" type="text">
						</div>
					</div>
					<div class="col-lg-5">
						<div class="form-group">
							<span>Price</span>
							<input class="form-control" id="open-menu-price" type="currency">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8">
						<div class="form-group">
							<span>Kitchen</span>
							<select class="form-control" id="open-print-to-kitchen"></select>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-group">
							<span>Qty</span>
							<input class="form-control" id="open-menu-qty" type="currency">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-add-note" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-label">Menu Note</h4>
			</div>
			<div class="modal-body">
				<textarea class="form-control" name="note" id="note"></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="submit" class="btn btn-primary">Submit</button>
			</div>
			</form>
		</div>
	</div>
</div>
<% include part/body-js.ejs %>
<script src="/js/order.js"></script>
</body>
</html>
