<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<% include part/header-css.ejs %>
	<% include part/header-js.ejs %>
</head>
<body class="hold-transition skin-blue fixed layout-top-nav sidebar-mini">
<div class="wrapper">
	<% include part/navbar.ejs %>
	<div class="content-wrapper">
		<div class="container" style="margin-bottom: 90px;">
			<section class="content" style="padding-left: 0;padding-right: 0;">
				<div class="row">
					<div class="col-md-8">
						<div class="box box-info">
							<div class="box-header">
								<div class="row">
									<div id="order" class="col-md-9"></div>
									<div id="num-cover" class="col-md-3 text-right"></div>
								</div>
								<hr style="margin-top: 10px;margin-bottom: 10px;">
								<div class="form-group row" style="margin-bottom: 0">
									<div class="col-sm-3">
										<label for="#menu-class">Meal Time</label>
										<select class="form-control" name="menu-class" id="menu-meal-time"></select>
									</div>
									<div class="col-sm-3">
										<label for="#menu-class">Menu Class</label>
										<select class="form-control" name="menu-class" id="menu-class"></select>
									</div>
									<div class="col-sm-3">
										<label for="#select-sub-class">Sub Class</label>
										<select class="form-control" name="menu-sub-class" id="menu-sub-class"></select>
									</div>
									<div class="col-sm-3">
										<label for="#search-menu">Find</label>
										<input class="form-control" type="text-special" name="menu-finder" placeholder="Search" id="menu-finder"/>
									</div>
								</div>
							</div>
							<div class="box-body" style="padding: 10px 0 0 0;-webkit-box-shadow: inset 0px 96px 128px -128px rgba(0,0,0,0.2);-moz-box-shadow: inset 0px 96px 128px -128px rgba(0,0,0,0.2);box-shadow: inset 0px 96px 128px -128px rgba(0,0,0,0.2);">
								<div class="row">
									<div class="col-lg-12">
										<div class="col-lg-12" id="menu-container"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box box-success">
							<div class="box-header order-footer text-center">
								<a class="btn btn-default btn-md btn-pos-default" data-toggle="modal" id="show-detail" next="collapse">
									<i class="fa fa-list"></i> Expand
								</a>
								<a class="btn btn-default btn-md btn-pos-info" data-toggle="modal" href="#modal-add-note" id="order-note">
									<i class="fa fa-edit"></i> Note
								</a>
								<a class="btn btn-default btn-md btn-pos-warning" data-toggle="modal" href="#modal-open-menu" id="open-menu">
									<i class="fa fa-plus" data-toggle="modal"></i>  Menu
								</a>
								<a class="btn btn-default btn-md btn-pos-success" data-toggle="modal" href="#modal-print-order" id="print-order" style="margin-right: 0px;">
									<i class="fa fa-print"></i> Send
								</a>
							</div>
							<div class="box-body" style="padding-top: 0;">
								<table id="order-menu" data-classes="table table-no-bordered" data-height="530"
									   data-toggle="table" data-row-style="miscFn0">
									<thead>
									<tr>
										<th data-field="void"
											data-halign="center"
											data-align="center"
											data-formatter="miscFn1"
											data-events="miscFn1Cfg">#</th>
										<th data-field="no" data-halign="center" data-align="center">No</th>
										<th data-field="name_">Menu</th>
										<th data-field="order_qty_" data-halign="right" data-align="right">Q</th>
										<th data-field="total_amount_" data-halign="right" data-align="right">Amount</th>
									</tr>
									</thead>
								</table>
								<table class="table table-striped" id="order-summary" style="border-top: 2px solid;">
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
<div class="col-md-12" id="bottom-navbar" style="padding: 0;">
	<div class="box box-danger custom-box">
		<div class="box-body text-center">
			<div class="row">
				<div class="col-sm-12">
					<a class="btn btn-pos payment-btn btn-pos-success" data-toggle="modal" href="#modal-discount-bill" id="discount-bill">
						<i class="fa fa-percent" aria-hidden="true"></i> Discount
					</a>
					<a class="btn btn-pos btn-md payment-btn btn-pos-success" id="tip-billing" data-toggle="modal" href="#modal-tip-billing">
						<i class="fa fa-money"></i> Add tip
					</a>
					<a class="btn btn-pos payment-btn btn-pos-default" data-toggle="modal" href="#modal-cash" id="pay-cash">
						<i class="fa fa-money"></i> Cash
					</a>
					<a class="btn btn-pos payment-btn btn-pos-default" data-toggle="modal" href="#modal-card" id="pay-card">
						<i class="fa fa-credit-card"></i> Card
					</a>
					<a class="btn btn-pos payment-btn btn-pos-default" data-toggle="modal" href="#modal-charge-to-room" id="pay-charge-to-room">
						<i class="fa fa-edit"></i> Charge Room
					</a>
					<a class="btn btn-pos payment-btn btn-pos-default" data-toggle="modal" href="#modal-house-use" id="pay-house-use">
						<i class="fa fa-tags"></i> House Use
					</a>
					<a class="btn btn-pos payment-btn btn-pos-default" data-toggle="modal" href="#modal-city-ledger" id="pay-city-ledger">
						<i class="fa fa-plane"></i> City Ledger
					</a>
					<a class="btn btn-pos payment-btn btn-pos-default" data-toggle="modal" href="#modal-voucher" id="pay-voucher">
						<i class="fa fa-ticket"></i> Voucher
					</a>
					<a class="btn btn-pos payment-btn btn-pos-danger" data-toggle="modal" href="#modal-no-post" id="pay-no-post">
						<i class="fa fa-exclamation"></i> No Post
					</a>
					<a class="btn btn-pos payment-btn btn-pos-info" data-toggle="modal" href="#modal-multi-payment" id="pay-multi-payment">
						<i class="fa fa-files-o"></i> Split Payment
					</a>
					<a class="btn btn-pos btn-pos-warning" data-toggle="modal" href="#modal-merge" id="merge-bill">
						<i class="fa fa-arrow-down" aria-hidden="true"></i> Merge
					</a>
					<a class="btn btn-pos payment-btn btn-pos-warning" data-toggle="modal" href="#modal-split-billing" id="pay-split-bill">
						<i class="fa fa-arrows-alt"></i> Split Bill
					</a>
					<button class="btn btn-pos btn-md btn-pos-primary" id="print-billing">
						<i class="fa fa-print"></i> Print Bill
					</button>
					<a class="btn btn-pos btn-md payment-btn" id="void-billing" data-toggle="modal" href="#modal-void-billing">
						<i class="fa fa-ban"></i> Void Bill
					</a>
					<a class="btn btn-pos btn-md payment-btn btn-pos-primary" id="reprint-billing" data-toggle="modal" href="#modal-reprint-billing">
						<i class="fa fa-file-text-o"></i> Reprint Bill
					</a>
					<button class="btn btn-pos btn-md btn-pos-default" id="open-cash-draw">
						<i class="fa fa-th-large"></i> Cash Draw
					</button>
				</div>
			</div>
		</div>
		<div class="box-footer" style="padding: 0px;">
			<% include part/footer.ejs %>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-any-splitted" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modal-label">Choose bills</h4>
			</div>
			<div class="modal-body" id="splitted-links"></div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-tip-billing" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modal-label">Add Tip</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-6">
						<label>Tip (already)</label>
					</div>
					<div class="col-lg-6 text-right">
						<label style="margin-right: 13px;" for="before"></label>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-lg-6">
						<span>Tip amount</span>
					</div>
					<div class="col-lg-6 text-right">
						<input placeholder="0" type="currency" class="form-control" id="amount" style="margin-right: 13px;">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<label>Total tip</label>
					</div>
					<div class="col-lg-6 text-right">
						<label style="margin-right: 13px;" for="after"></label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-qty" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modal-label">
					?
				</h4>
			</div>
			<div class="modal-body">
				<div class="row" style="margin-bottom: 10px;">
					<div class="col-lg-3">
						<span>Price</span>
					</div>
					<div class="col-lg-9 text-right">
						<span id="price" style="margin-right: 13px;"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<span>Qty</span>
					</div>
					<div class="col-lg-9 text-right">
						<input placeholder="0" type="currency" class="form-control" id="qty" style="margin-right: 13px;">
					</div>
				</div>
				<hr>
				<div class="row" style="margin-bottom: 10px;">
					<div class="col-lg-3">
						<span>Discount Type</span>
					</div>
					<div class="col-lg-9">
						<div class="row">
							<div class="col-lg-5">
								<select class="form-control" id="discount-type">
									<option value="percent">Percentage</option>
									<option value="amount">Amount</option>
								</select>
							</div>
							<div class="col-lg-3" id="discount-percent">
								<select class="form-control"></select>
							</div>
							<div class="col-lg-3" id="discount-percent-manual" style="display: none;">
								<input type="currency" max="100" min="0" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin-bottom: 10px;">
					<div class="col-lg-3">
						<span>Amount per Item</span>
					</div>
					<div class="col-lg-9 text-right">
						<input type="currency" class="form-control" id="percent-amount-item" disabled>
					</div>
				</div>
				<div class="row" style="margin-bottom: 10px;">
					<div class="col-lg-3">
						<span>Amount</span>
					</div>
					<div class="col-lg-9 text-right">
						<input type="currency" class="form-control" id="percent-amount" disabled>
					</div>
				</div>
				<hr>
				<div class="row" style="margin-bottom: 10px;">
					<div class="col-lg-3">
						<span>Gross</span>
					</div>
					<div class="col-lg-9 text-right">
						<span id="gross" style="margin-right: 13px;"></span>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<span>Nett</span>
					</div>
					<div class="col-lg-9 text-right">
						<span id="nett" style="margin-right: 13px;"></span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-void" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modal-label">
					?
				</h4>
			</div>
			<div class="modal-body">
				<div class="form-group has-feedback">
					<label for="#qty">Void Qty:</label>
					<input placeholder="0" type="currency" class="form-control" id="qty" required>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button id="submit" type="button" class="btn btn-primary">OK</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-cash" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-label">Cash Payment</h4>
			</div>
			<div class="modal-body">
				<div id="info"></div>
				<div class="row">
					<div class="col-lg-6">
						<span>Cash amount</span>
					</div>
					<div class="col-lg-6 text-right">
						<input type="currency" class="form-control" id="amount">
					</div>
				</div>
				<div class="row" style="margin-top: 5px;">
					<div class="col-lg-6">
						<span>Tip amount</span>
					</div>
					<div class="col-lg-6 text-right">
						<input type="currency" class="form-control" id="add-tip">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<span>Change</span>
					</div>
					<div class="col-lg-6 text-right">
						<span id="change" style="margin-right: 13px;"></span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-card" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modal-label">Debit/Credit Card Payment</h4>
			</div>
			<div class="modal-body">
				<div id="info"></div>
				<div class="row">
					<div class="col-lg-3">
						<div class="form-group">
							<span>Type</span>
							<select class="form-control" id="cc-type">
								<option value="credit">Credit</option>
								<option value="debit">Debit</option>
							</select>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-group">
							<span>EDC</span>
							<select class="form-control" id="bank-type"></select>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="form-group">
							<span>Card Type</span>
							<select class="form-control" id="bank-account"></select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<input id="card-swiper" type="force-text" class="form-control" placeholder="Tap here, then swipe the card">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-7">
						<div class="form-group">
							<span>Number</span>
							<input id="card-no" type="number" class="form-control">
						</div>
					</div>
					<div class="col-lg-5">
						<div class="form-group">
							<span>Name</span>
							<input id="customer-name" type="text" class="form-control">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<span>Tip amount</span>
					</div>
					<div class="col-lg-6 text-right">
						<input type="currency" class="form-control" id="add-tip">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-charge-to-room" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modal-label">Charge to Room</h4>
			</div>
			<div class="modal-body">
				<div id="info"></div>
				<div class="row"><div class="col-lg-12 "><b>Customer Info:</b></div></div>
				<div class="row">

					<div class="col-lg-3">
						<span>First Name *</span>
					</div>
					<div class="col-lg-3 ">
						<input type="text" class="form-control" id="ctr-first-name">
					</div>
					<div class="col-lg-3">
						<span>Last Name</span>
					</div>
					<div class="col-lg-3 ">
						<input type="text" class="form-control" id="ctr-last-name">
					</div>

				</div>
				<div class="row" style="margin-top:5px">
					<div class="col-lg-3">
						<span>Room Number *</span>
					</div>
					<div class="col-lg-3 ">
						<input type="number" class="form-control" id="ctr-room-number">
					</div>
				</div>
				<!-- REMARK until integrate to FO -->
				<!--<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<span>Customer</span>
							<select class="form-control" id="customer"></select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<span>Check In</span>
						<span> : </span>
						<span id="check-in-date"></span>
					</div>
					<div class="col-lg-6">
						<span>Departure</span>
						<span> : </span>
						<span id="departure-date"></span>
					</div>
					<div class="col-lg-6">
						<span>Cash Bases</span>
						<span> : </span>
						<span id="is-cash-bases"></span>
					</div>
					<div class="col-lg-6">
						<span>Room Only</span>
						<span> : </span>
						<span id="is-room-only"></span>
					</div>
					<div class="col-lg-6">
						<span>Reservation Type</span>
						<span> : </span>
						<span id="reservation-type"></span>
					</div>
					<div class="col-lg-6">
						<span>Room No</span>
						<span> : </span>
						<span id="room-no"></span>
					</div>
					<div class="col-lg-6">
						<span>Room Rate</span>
						<span> : </span>
						<span id="room-rate-code"></span>
					</div>
					<div class="col-lg-6">
						<span>Room Type</span>
						<span> : </span>
						<span id="room-type"></span>
					</div>
					<div class="col-lg-6">
						<span>VIP Type</span>
						<span> : </span>
						<span id="vip-type"></span>
					</div>
				</div>-->
				<div class="row">
					<div class="col-lg-6">
						<span>Tip amount</span>
					</div>
					<div class="col-lg-6 text-right">
						<input type="currency" class="form-control" id="add-tip">
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<span>Notes</span>
							<textarea id="note" style="width: 100%;height: 60px;"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-city-ledger" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-label">City Ledger</h4>
			</div>
			<div class="modal-body">
				<div id="info"></div>
				<!-- REMARK FO integration
				<div class="row">
					<div class="col-lg-6" style="margin-top: 5px">
						<span>City Ledger Account</span>
						<span> : </span>
					</div>
					<div class="col-lg-6">
						<select class="form-control" id="city-ledger"></select>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<span>Type</span>
						<span> : </span>
						<span id="type"></span>
					</div>
					<div class="col-sm-6">
						<span>Account Name</span>
						<span> : </span>
						<span id="name"></span>
					</div>
					<div class="col-sm-6">
						<span>Code</span>
						<span> : </span>
						<span id="code"></span>
					</div>
					<div class="col-lg-12">
						<span>Contact Person Name</span>
						<span> : </span>
						<span id="cpname"></span>
					</div>
					<div class="col-lg-12">
						<span>Contact Person Number</span>
						<span> : </span>
						<span id="cpnumber"></span>
					</div>
					<div class="col-lg-12">
						<span>Address</span>
						<span> : </span>
						<span id="address"></span>
					</div>
					<div class="col-lg-6">
						<span>Is Black listed ?</span>
						<span> : </span>
						<span id="black-list"></span>
					</div>
					<div class="col-sm-6">
						<span>Is Credit ?</span>
						<span> : </span>
						<span id="credit"></span>
					</div>
					<div class="col-sm-6">
						<span>Alert</span>
						<span> : </span>
						<span id="alert"></span>
					</div>
					<div class="col-sm-6">
						<span>Notes</span>
						<span> : </span>
						<span id="notes"></span>
					</div>
				</div>
				<hr style="margin-top: 10px; margin-bottom: 10px"/>
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-6">
								<span>Deposit Saldo</span>
								<span>:</span>
							</div>
							<div class="col-lg-6 pull-right">
								<label id="deposit-saldo" class="pull-right" style="margin-right: 13px;"></label>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-6">
								<span>Deposit Balance</span>
								<span>:</span>
							</div>
							<div class="col-lg-6 pull-right">
								<label id="deposit-change" class="pull-right" style="margin-right: 13px;"></label>
							</div>
						</div>
					</div>
				</div>-->
				<div class="row">
					<div class="col-lg-6">
						<span>Company Name</span>
					</div>
					<div class="col-lg-6">
						<input type="text" class="form-control" id="cl-name">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<span>Tip amount</span>
					</div>
					<div class="col-lg-6 text-right">
						<input type="currency" class="form-control" id="add-tip">
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-voucher" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-label">Voucher Payment</h4>
			</div>
			<div class="modal-body">
				<div id="info"></div>
				<div class="row">
					<div class="col-lg-6">
						<span>Voucher Code</span>
					</div>
					<div class="col-lg-6 text-right">
						<input type="text" class="form-control" id="code">
					</div>
				</div>
				<div class="row" style="margin-top: 5px;">
					<div class="col-lg-6">
						<span>Voucher Amount</span>
					</div>
					<div class="col-lg-6 text-right">
						<input type="currency" class="form-control" id="amount">
					</div>
				</div>
				<div class="row" style="margin-top: 5px;">
					<div class="col-lg-6">
						<span>Tip amount</span>
					</div>
					<div class="col-lg-6 text-right">
						<input type="currency" class="form-control" id="add-tip">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<span>Change</span>
					</div>
					<div class="col-lg-6 text-right">
						<span id="change" style="margin-right: 13px;"></span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-no-post" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-label">No Post</h4>
			</div>
			<div class="modal-body">
				<div id="info"></div>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group" style="margin-bottom: 0px">
							<span>Notes</span>
							<textarea id="note" style="width: 100%;height: 60px;"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="submit" class="btn btn-primary">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-house-use" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-label">House Use</h4>
			</div>
			<div class="modal-body">
				<div id="info"></div>
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<span>House use</span>
							<select class="form-control" id="house-use"></select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<span>Period</span>
						<span> : </span>
						<span id="period"></span>
					</div>
					<div class="col-lg-12">
						<span>House use</span>
						<span> : </span>
						<span id="house-use-info"></span>
					</div>
					<div class="col-lg-12">
						<span>Cost Center</span>
						<span> : </span>
						<span id="cost-center"></span>
					</div>
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-6">
								<span>Monthly Spent</span>
							</div>
							<div class="col-lg-6 pull-right">
								<span id="max-spent" class="pull-right" style="margin-right: 10px"></span>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-6">
								<span>Current Transaction Amount</span>
							</div>
							<div class="col-lg-6 pull-right">
								<span id="current-used" class="pull-right" style="margin-right: 10px"></span>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6">
								<span>Balance</span>
							</div>
							<div class="col-sm-6 pull-right">
								<span id="current-balance" class="pull-right" style="margin-right: 10px;"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<span>Tip amount</span>
					</div>
					<div class="col-lg-6 text-right">
						<input type="currency" class="form-control" id="add-tip">
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<span>Notes</span>
							<textarea id="note" style="width: 100%;height: 60px;"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-multi-payment" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modal-label">Split Payment</h4>
			</div>
			<div class="modal-body" style="padding-bottom: 0px;">
				<div id="info"></div>
				<div class="row">
					<div class="col-lg-6">
						<label>Balance</label>
					</div>
					<div class="col-lg-6 text-right">
						<label style="margin-right: 13px;" id="balance">0.00</label>
					</div>
				</div>
				<hr style="margin-top: 5px; margin-bottom: 1px"/>
				<hr style="margin-top: 1px; margin-bottom: 5px"/>
				<div class="row" id="no-state">
					<div class="col-sm-12">
						<div class="form-group row">
							<h5 class="col-sm-3 control-label">
								<span>Split Amount by</span>
							</h5>
							<div class="col-sm-2">
								<input type="number" class="form-control" id="mode-counter"/>
							</div>
						</div>
					</div>
				</div>
				<div id="state" style="display:none;">
					<div class="row">
						<div class="col-sm-12">
							<h5>
								<span id="mode-label-0"></span>
								<span style="margin: 0 10px;">/</span>
								<span id="mode-label-1"></span>
							</h5>
						</div>
					</div>
					<div class="row" id="payment-state" style="max-height: 300px;overflow-y: auto;display: none;margin-bottom: 15px;"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">Next</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-split-billing" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modal-label">Split Billing</h4>
			</div>
			<div class="modal-body" style="padding-bottom: 0px;">
				<div id="info"></div>
				<div class="row">
					<div class="col-lg-6">
						<label>Balance</label>
					</div>
					<div class="col-lg-6 text-right">
						<label style="margin-right: 13px;" id="balance">0.00</label>
					</div>
				</div>
				<hr style="margin-top: 5px; margin-bottom: 1px"/>
				<hr style="margin-top: 1px; margin-bottom: 5px"/>
				<div class="row" id="no-state">
					<div class="col-sm-12">
						<div class="form-group row">
							<h5 class="col-sm-3 control-label">
								<span>Split bill by</span>
							</h5>
							<div class="col-sm-2">
								<input type="number" class="form-control" id="mode-counter"/>
							</div>
						</div>
					</div>
					<div class="col-sm-3"></div>
					<div class="col-sm-12" id="item-splitter">
						<div class="row">
							<div class="col-sm-4">
								<table id="sheets"
									   data-classes="table"
									   data-toggle="table"
									   data-height="200"
									   data-click-to-select="true">
									<thead>
									<tr>
										<th data-field="state" data-radio="true"></th>
										<th data-field="name" data-align="center" data-halign="center">Split #</th>
										<th data-field="reset"
											data-halign="center"
											data-align="center"
											data-formatter="miscFn3"
											data-events="miscFn3Cfg"></th>
									</tr>
									</thead>
								</table>
							</div>
							<div class="col-sm-1 text-center" style="padding: 0;">
								<button class="btn btn-md btn-default" id="to-right">
									<i class="fa fa-arrow-left" aria-hidden="true"></i>
								</button>
							</div>
							<div class="col-sm-7">
								<table id="items"
									   data-classes="table"
									   data-toggle="table"
									   data-height="200"
									   data-click-to-select="true">
									<thead>
									<tr>
										<th data-field="state" data-checkbox="true" data-formatter="miscFn2"></th>
										<th data-field="name">Menu</th>
										<th data-field="sheet" data-align="center" data-halign="center">To #</th>
									</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div id="state" style="display:none;">
					<div class="row">
						<div class="col-sm-12">
							<h5>
								<span id="mode-label-0"></span>
								<span style="margin: 0 10px;">/</span>
								<span id="mode-label-1"></span>
							</h5>
						</div>
					</div>
					<div class="row" id="payment-state" style="max-height: 300px;overflow-y: auto;display: none;margin-bottom: 15px;"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-merge" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modal-label">Choose Order No.</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-6">
						<span>This Order</span>
					</div>
					<div class="col-lg-6 text-right">
						<span  style="margin-right: 22px;" id="home-total">0.00</span>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-lg-12">
						<div style="max-height: 500px;overflow: auto;">
							<ul id="check-list-box" class="list-group checked-list-box"></ul>
						</div>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-6">
								<span>Grand Total</span>
							</div>
							<div class="col-lg-6 pull-right">
								<span id="grandtotal" class="pull-right" style="margin-right: 25px;">0.00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-discount-bill" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modal-label">Additional Discount</h4>
			</div>
			<div class="modal-body">
				<div id="info"></div>
				<div class="row" style="margin-top:15px; margin-bottom: 10px;">
					<div class="col-lg-3">
						<span>Choose Promo</span>
					</div>
					<div class="col-sm-6">
						<select class="form-control" id="type">
							<option value="">- Choose -</option>
							<optgroup label="Available Promo" this></optgroup>
							<optgroup label="Manual">
								<option value="manual-amount">Amount ($)</option>
								<option value="manual-percentage">Percentage (%)</option>
							</optgroup>
						</select>
					</div>
				</div>
				<div class="row" style="margin-top:15px; margin-bottom: 10px;" id="automate-promo">
					<div class="col-lg-3"></div>
					<div class="col-lg-9" this></div>
				</div>
				<div class="row" style="margin-top:15px; margin-bottom: 10px;" id="manual-promo">
					<div class="col-lg-3">
						<span>Patch Promo For</span>
					</div>
					<div class="col-lg-4" id="manual-promo-class">
						<select class="form-control"></select>
					</div>
					<div class="col-lg-5" id="manual-promo-value">
						<input type="currency" min="0" class="form-control"/>
					</div>
				</div>
				<div class="row" style="margin-bottom: 10px;">
					<div class="col-lg-3">
						<span>New Discount</span>
					</div>
					<div class="col-lg-9 text-right">
						<input type="currency" class="form-control" id="amount" disabled>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-lg-3">
						<label>Discount</label>
					</div>
					<div class="col-lg-9 text-right">
						<label id="new-discount" style="margin-right: 13px;"></label>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3">
						<label>SubTotal</label>
					</div>
					<div class="col-lg-9 text-right">
						<label id="nett" style="margin-right: 13px;"></label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-print-order" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Print Order</h4>
			</div>
			<div class="modal-body" style="padding-bottom: 0px;">
				<div class="row" id="printContentDefault">
					<div class="col-sm-12">
						<table class="table table-bordered">
							<thead>
							<tr>
								<th>Qty</th>
								<th>Menu</th>
								<th>Printer</th>
							</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div class="row" id="printContentManual">
					<div class="col-sm-12">
						<ul id="check-list-box" class="list-group checked-list-box"></ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-sm-6">
						<div class="pull-left">
							<button class="btn btn-primary" id="manualprint">Print</button>
							<button class="btn btn-default" id="print">Print</button>
							<button class="btn btn-primary" id="reprint">Reprint</button>
						</div>
					</div>
					<div class="col-sm-6 pull-right">
						<button type="button" class="btn btn-danger" id="printtoogle" state="default">Manual Print</button>
						<button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-reprint-billing" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Reprint Paid Bill</h4>
			</div>
			<div class="modal-body" style="padding-bottom: 0px;">
				<div id="info"></div>
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered">
							<thead>
							<tr>
								<th>Method</th>
								<th>Pay Amount</th>
								<th>Tip</th>
								<th>Change</th>
								<th>Action</th>
							</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-sm-6 pull-right">
						<button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-void-billing" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modal-label">
					Void Bill
				</h4>
			</div>
			<div class="modal-body">
				<div id="info"></div>
				<div class="form-group has-feedback">
					<label for="#qty">Notes:</label>
					<input placeholder="Add customer notes here" type="text" class="form-control" id="notes">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-open-menu" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Open Menu</h4>
			</div>
			<div class="modal-body" style="padding-bottom: 0px;">
				<div class="row">

				</div>
				<div class="row">
					<div class="col-lg-3">
						<div class="form-group">
							<span>Meal Time</span>
							<select class="form-control" id="open-meal-time"></select>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-group">
							<span>Menu Class</span>
							<select class="form-control" id="open-menu-class"></select>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="form-group">
							<span>Menu Sub Class</span>
							<select class="form-control" id="open-menu-sub-class"></select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-7">
						<div class="form-group">
							<span>Name</span>
							<input class="form-control" id="open-menu-name" type="text">
						</div>
					</div>
					<div class="col-lg-5">
						<div class="form-group">
							<span>Price</span>
							<input class="form-control" id="open-menu-price" type="currency">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8">
						<div class="form-group">
							<span>Kitchen</span>
							<select class="form-control" id="open-print-to-kitchen"></select>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="form-group">
							<span>Qty</span>
							<input class="form-control" id="open-menu-qty" type="number">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">OK</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-add-note" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-label">Order Note</h4>
			</div>
			<div class="modal-body">
				<textarea class="form-control" name="note" id="note"></textarea>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="submit" class="btn btn-primary">OK</button>
			</div>
			</form>
		</div>
	</div>
</div>
<% include part/body-js.ejs %>
<script src="/js/order.js"></script>
</body>
</html>
