<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<% include part/header-css.ejs %>
	<% include part/header-js.ejs %>
</head>
<body class="hold-transition skin-blue fixed layout-top-nav sidebar-mini">
<div class="wrapper">
	<% include part/navbar.ejs %>
	<div class="content-wrapper">
		<div class="container">
			<section class="content">
				<div class="row">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-12">
								<div class="box box-info">
									<div class="box-header">
										<div class="row">
											<div id="order" class="col-md-7" style="border-right:1px solid rgba(128, 128, 128, 0.26);"></div>
											<div id="meal-time" class="col-md-5"></div>
										</div>
										<hr style="margin-top: 10px;">
										<div class="form-group row" style="margin-bottom: 0">
											<div class="col-sm-4">
												<label for="#menu-class">Menu Class</label>
												<select class="form-control" name="menu-class" id="menu-class"></select>
											</div>
											<div class="col-sm-4">
												<label for="#select-sub-class">Sub Class</label>
												<select class="form-control" name="menu-sub-class" id="menu-sub-class"></select>
											</div>
											<div class="col-sm-4">
												<label for="#search-menu">Find</label>
												<input class="form-control" type="text" name="menu-finder" placeholder="Search" id="menu-finder"/>
											</div>
										</div>
									</div>
									<div class="box-body" style="padding: 10px 0 0 0;">
										<div class="row">
											<div class="col-lg-12">
												<div class="col-lg-12" id="menu" style="max-height: 868px;overflow-y: auto;"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12">
								<div class="box box-danger">
									<div class="box-header">
										<code>Payments</code>
									</div>
									<div class="box-body text-center" style="padding-left: 0;">
										<a class="btn btn-app" data-toggle="modal" href="#modal-cash">
											<i class="fa fa-money"></i>
											Cash
										</a>
										<a class="btn btn-app" data-toggle="modal" href="#modal-card">
											<i class="fa fa-credit-card"></i>
											Card
										</a>
										<a class="btn btn-app" data-toggle="modal" href="#modal-charge-to-room">
											<i class="fa fa-edit"></i>
											Charge room
										</a>
										<a class="btn btn-app" data-toggle="modal" href="#modal-house-use">
											<i class="fa fa-tags"></i>
											House use
										</a>
										<a class="btn btn-app" data-toggle="modal" href="#modal-split">
											<i class="fa fa-arrows-alt"></i>
											Split
										</a>
										<a class="btn btn-app" data-toggle="modal" href="#modal-merge">
											<i class="fa fa-arrow-down" aria-hidden="true"></i>
											Merge
										</a>
										<a class="btn btn-app" data-toggle="modal" href="#modal-no-post">
											<i class="fa fa-times-circle"></i>
											No Post
										</a>
										<a class="btn btn-app btn-warning" data-toggle="modal" href="/openCashDraw">
											<i class="fa fa-th-large"></i>
											Cash draw
										</a>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="box box-success">
									<div class="box-body" style="padding-top: 0;">
										<table id="order-menu" data-classes="table table-striped table-no-bordered"
											   data-toggle="table" data-height="300" xdata-row-style="rowStyle">
											<thead>
											<tr>
												<th data-field="no" data-halign="left" data-align="right">No</th>
												<th data-field="name" style="width:180px">Menu</th>
												<th data-field="order_qty" data-halign="right" data-align="right">Qty</th>
												<th data-field="total_amount_" data-halign="right" data-align="right">Amount</th>
											</tr>
											</thead>
										</table>
										<table class="table table-striped">
											<tbody>
											<tr>
												<td colspan="3" align="left">Total Food</td>
												<td align="right" id="order-tot-food">?</td>
											</tr>
											<tr>
												<td colspan="3" align="left">Discount Food</td>
												<td align="right" id="order-tot-discount">?</td>
											</tr>

											<tr>
												<td colspan="3" align="left">Total Service Charge</td>
												<td align="right" id="order-tot-service">?</td>
											</tr>
											<tr>
												<td colspan="3" align="left">Total Tax</td>
												<td align="right" id="order-tot-tax">?</td>
											</tr>
											<tr>
												<td colspan="3" align="left">Grand Total</td>
												<td align="right" id="order-tot-sum">?</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="box box-primary">
									<div class="box-header">
										<code>Order Control</code>
									</div>
									<div class="box-body text-center" style="padding-left: 0;">
										<a class="btn btn-app bg-grey" data-toggle="modal" href="#modal-add-note">
											<i class="fa fa-edit"></i>
											Note
										</a>
										<a class="btn btn-app bg-grey" data-toggle="modal" href="#modal-print">
											<i class="fa fa-print"></i>
											Print Order
										</a>
										<a class="btn btn-app bg-blue">
											<i class="fa fa-edit" data-toggle="modal" href="#myModalOpenMenu"></i>
											Open Menu
										</a>
										<a class="btn btn-app bg-red" data-toggle="modal" href="#modal-void">
											<i class="fa fa-times"></i>
											Void Menu
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<% include part/footer.ejs %>
</div>
<div class="modal fade" id="modal-qty" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog modal-md" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modal-label">
					?
				</h4>
			</div>
			<div class="modal-body">
				<div class="form-group has-feedback">
					<label for="#qty">Qty:</label>
					<input placeholder="0" type="currency" class="form-control" id="qty" required>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button id="submit" type="button" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-cash" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-label">Cash Payment</h4>
			</div>
			<div class="modal-body">
				<div id="info"></div>
				<div class="row">
					<div class="col-lg-6">
						<span>Cash with</span>
					</div>
					<div class="col-lg-6 text-right">
						<input type="currency" class="form-control" id="amount">
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<span>Change</span>
					</div>
					<div class="col-lg-6 text-right">
						<label id="change" style="margin-right: 13px;"></label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-card" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modal-label">Debit/Credit Card Payment</h4>
			</div>
			<div class="modal-body">
				<div id="info"></div>
				<div class="row">
					<div class="col-lg-3">
						<div class="form-group">
							<span>Type</span>
							<select class="form-control" id="cc-type">
								<option value="credit">Credit</option>
								<option value="debit">Debit</option>
							</select>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="form-group">
							<span>Bank</span>
							<span>Customer</span>
							<select class="form-control" id="bank-type"></select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<hr/>
						<input id="card-swiper" type="force-text" class="form-control" placeholder="Tap here, then swipe the card">
						<hr/>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-7">
						<div class="form-group">
							<span>Number</span>
							<input id="card-no" type="text" class="form-control">
						</div>
					</div>
					<div class="col-lg-5">
						<div class="form-group">
							<span>Name</span>
							<input id="card-name" type="text" class="form-control">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-charge-to-room" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modal-label">Charge to Room</h4>
			</div>
			<div class="modal-body">
				<div id="info"></div>
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<span>Customer</span>
							<select class="form-control" id="customer"></select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<span>Check In</span>
						<span> : </span>
						<span id="check-in-date"></span>
					</div>
					<div class="col-lg-6">
						<span>Departure</span>
						<span> : </span>
						<span id="departure-date"></span>
					</div>
					<div class="col-lg-6">
						<span>Cash Bases</span>
						<span> : </span>
						<span id="is-cash-bases"></span>
					</div>
					<div class="col-lg-6">
						<span>Room Only</span>
						<span> : </span>
						<span id="is-room-only"></span>
					</div>
					<div class="col-lg-6">
						<span>Reservation Type</span>
						<span> : </span>
						<span id="reservation-type"></span>
					</div>
					<div class="col-lg-6">
						<span>Room No</span>
						<span> : </span>
						<span id="room-no"></span>
					</div>
					<div class="col-lg-6">
						<span>Room Rate</span>
						<span> : </span>
						<span id="room-rate-code"></span>
					</div>
					<div class="col-lg-6">
						<span>Room Type</span>
						<span> : </span>
						<span id="room-type"></span>
					</div>
					<div class="col-lg-6">
						<span>VIP Type</span>
						<span> : </span>
						<span id="vip-type"></span>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<span>Notes</span>
							<textarea id="note" style="width: 100%;height: 60px;"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-no-post" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-label">No Post</h4>
			</div>
			<div class="modal-body">
				<div id="info"></div>
				<div class="col-lg-12">
					<div class="form-group">
						<span>Notes</span>
						<textarea id="note" style="width: 100%;height: 60px;"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-house-use" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-label">House Use</h4>
			</div>
			<div class="modal-body">
				<div id="info"></div>
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
							<span>House use</span>
							<select class="form-control" id="house-use"></select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<span>Period</span>
						<span> : </span>
						<span id="period"></span>
					</div>
					<div class="col-lg-12">
						<span>House use</span>
						<span> : </span>
						<span id="house-use"></span>
					</div>
					<div class="col-lg-12">
						<span>Cost Center</span>
						<span> : </span>
						<span id="cost-center"></span>
					</div>
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-6">
								<span>Monthly Spent</span>
							</div>
							<div class="col-lg-6 pull-right">
								<span id="max-spent" class="pull-right"></span>
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-6">
								<span>Current Transaction Amount</span>
							</div>
							<div class="col-lg-6 pull-right">
								<span id="current-balance" class="pull-right"></span>
							</div>
						</div>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-lg-12">
						<div class="form-group">
							<span>Notes</span>
							<textarea id="note" style="width: 100%;height: 60px;"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-split" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modal-label">Split Billing</h4>
			</div>
			<div class="modal-body" style="padding-bottom: 0px;">
				<div id="info"></div>
				<div class="row">
					<div class="col-lg-6">
						<span>Balance</span>
					</div>
					<div class="col-lg-6 text-right">
						<span style="margin-right: 13px;" id="balance">0.00</span>
					</div>
				</div>
				<hr/>
				<div class="row" id="no-state">
					<div class="col-sm-12">
						<div class="form-group row" style="margin-bottom:0px;">
							<h5 class="col-sm-2 control-label">
								<span>Split bills</span>
							</h5>
							<div class="col-sm-4">
								<select class="form-control" id="mode">
									<option value="">- Choose one -</option>
									<option value="manual">Manually</option>
									<!--
									<option value="event">Evently</option>
									<option value="item">Items</option>
									-->
								</select>
							</div>
							<h5 class="col-sm-1 control-label">
								<span>by</span>
							</h5>
							<div class="col-sm-2">
								<input type="number" class="form-control" id="mode-counter"/>
							</div>
						</div>
					</div>
				</div>
				<div id="state" style="display:none;">
					<div class="row">
						<div class="col-sm-12">
							<h5>
								<span id="mode-label-0"></span>
								<span style="margin: 0 10px;">/</span>
								<span id="mode-label-1"></span>
							</h5>
						</div>
					</div>
					<div class="row payment-state" id="manual-state" style="max-height: 300px;overflow-y: auto;display: none;"></div>
					<div class="row payment-state" id="event-state" style="max-height: 300px;overflow-y: auto;display: none;"></div>
					<div class="row payment-state" id="item-state" style="max-height: 300px;overflow-y: auto;display: none;"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">Next</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-merge" tabindex="-1" role="dialog"
	 aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="modal-label">Choose Tables</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-6">
						<span>This Table</span>
					</div>
					<div class="col-lg-6 text-right">
						<span style="margin-right: 13px;" id="home-total">0.00</span>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-lg-12">
						<div style="max-height: 500px;overflow: auto;">
							<ul id="check-list-box" class="list-group checked-list-box"></ul>
						</div>
					</div>
				</div>
				<hr/>
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-6">
								<span>Grand Total</span>
							</div>
							<div class="col-lg-6 pull-right">
								<span id="grantotal-merge" class="pull-right" style="margin-right: 20px;">36,550.00</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button id="submit" type="button" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-print" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Print Order</h4>
			</div>
			<div class="modal-body" style="padding-bottom: 0px;">
				<div class="row" id="printContentDefault">
					<div class="col-sm-12">
						<table class="table table-bordered">
							<thead>
							<tr>
								<th>Qty</th>
								<th>Menu</th>
								<th>Printer</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>1</td>
								<td>Bebek Goreng Sambal Penyet Khas Media</td>
								<td>\\DESKTOP-J7QH6TF\BEVE</td>
							</tr>
							<tr>
								<td>1</td>
								<td>Bebek Goreng Sambal Penyet Khas Media</td>
								<td>\\DESKTOP-J7QH6TF\BEVE</td>
							</tr>
							<tr>
								<td>1</td>
								<td>Bebek Goreng Sambal Penyet Khas Media</td>
								<td>\\DESKTOP-J7QH6TF\BEVE</td>
							</tr>
							<tr>
								<td>1</td>
								<td>Bebek Goreng Sambal Penyet Khas Media</td>
								<td>\\DESKTOP-J7QH6TF\BEVE</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row" id="printContentManual">
					<div class="col-sm-12">
						<ul id="check-list-box" class="list-group checked-list-box"></ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col-sm-6">
						<div class="pull-left">
							<button class="btn btn-primary" id="manualprint">Print</button>
							<button class="btn btn-default" id="print">Print</button>
							<button class="btn btn-primary" id="reprint">Reprint</button>
						</div>
					</div>
					<div class="col-sm-6 pull-right">
						<button type="button" class="btn btn-danger" id="printtoogle" state="default">Manual Print</button>
						<button id="close" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-open-menu" tabindex="-1" role="dialog"
	 aria-labelledby="modal-label">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-label">Open Menu</h4>
			</div>
			<div class="modal-body">
				<form id="subscribe-email-form"
					  action="http://localhost:8888/media-pos-php/main/openmenu/95"
					  method="post">
					<input type="hidden" name="bill"
						   value="CHK-29 /1 ">
					<input type="hidden" name="outlet"
						   value="1">
					<input type="hidden" name="table" value="95">

					<table class="table table-striped">
						<thead>
						<tr>
							<th>Meal Time</th>
							<th>Menu Type</th>
							<th>Menu Group</th>
							<th>Menu Name</th>
							<th>Qty</th>
							<th>Price</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								<select class="form-control" name="meal_time_id" id="meal_time_id">
									<option
											value="1">Breakfast
									</option>
									<option
											value="2">Lunch
									</option>
									<option
											value="3">Dinners
									</option>
									<option
											value="4" selected>Supper
									</option>
									<option
											value="5">All Time
									</option>
								</select>
							</td>
							<td>
								<select class="form-control" name="menu_class_id"
										id="menu_class_id">
									<option
											value="1">Food
									</option>
									<option
											value="2">Beverage
									</option>
									<option
											value="3">Cigarette
									</option>
									<option
											value="4">Others
									</option>
									<option
											value="5">Setmenu/Combo
									</option>
									<option
											value="6">Promo Food
									</option>
									<option
											value="7">Promo Beverage
									</option>
									<option
											value="8">Buffet
									</option>
								</select>
							</td>
							<td>
								<select class="form-control" name="menu_group_id"
										id="menu_group_id">
									<option
											value="1">Breakfast Menu
									</option>
									<option
											value="2">Appetizers
									</option>
									<option
											value="3">Soups
									</option>
									<option
											value="4">Main Course
									</option>
									<option
											value="5">Snacks & Sandwiches
									</option>
									<option
											value="6">Western Dishes
									</option>
									<option
											value="7">Indonesian & Asian
									</option>
									<option
											value="8">Noddles
									</option>
									<option
											value="9">Pastas
									</option>
									<option
											value="10">Dessert
									</option>
									<option
											value="11">Special Promotion
									</option>
									<option
											value="12">Side Orders
									</option>
									<option
											value="13">Selection Lunch & Dinner
									</option>
									<option
											value="14">Local Food
									</option>
									<option
											value="15">Bakery & Pastries
									</option>
									<option
											value="16">Buffet
									</option>
									<option
											value="17">Open Food
									</option>
									<option
											value="18">Food Testing
									</option>
									<option
											value="19">Juice - Food
									</option>
									<option
											value="20">Tea & Tisanes - Food
									</option>
									<option
											value="21">Coffees - Food
									</option>
									<option
											value="22">Milkshakes - Food
									</option>
									<option
											value="23">Soft Drink
									</option>
									<option
											value="24">Mineral Water
									</option>
									<option
											value="25">Squash
									</option>
									<option
											value="26">Beer
									</option>
									<option
											value="27">Relaxing Massage
									</option>
									<option
											value="28">Spa Treatment
									</option>
									<option
											value="29">Lobster
									</option>
								</select>
							</td>
							<td><input type="text" class="form-control" name="menu_name"
									   id="menu_name"/></td>
							<td><input type="text" class="form-control" name="menu_qty"
									   id="menu_qty" value="1"/></td>
							<td><input type="text" class="form-control" name="menu_price"
									   id="menu_price"/></td>
						</tr>
						</tbody>
					</table>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close
						</button>
						<button type="submit" class="btn btn-primary">Add Menu</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-add-note" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-label">Menu Note</h4>
			</div>
			<div class="modal-body">
				<form id="subscribe-email-form"
					  action="http://localhost:8888/media-pos-php/main/save_note/95"
					  method="post">
										<textarea class="form-control" name="note"
												  id="note"></textarea>
					<!--<form id="subscribe-email-form" action="/notifications/subscribe/" method="post">-->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Save changes</button>
			</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-void" tabindex="-1" role="dialog" aria-labelledby="modal-label">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-label">Menu List</h4>
			</div>
			<div class="modal-body">
				<!--<form id="subscribe-email-form" action="/notifications/subscribe/" method="post"> -->
				<table class="table table-striped">
					<tr>
						<th style="width: 10px">No</th>
						<th style="width: 180px">Menu</th>
						<th>Qty</th>
						<th>Amount</th>
						<th>#</th>
					</tr>

					<tr>
						<td> 1</td>
						<td> Bebek Goreng Sambal Penyet Khas Media</td>
						<td> 4</td>
						<td align="right">
							340,000
						</td>

						<td align="center"><a
									href="http://localhost:8888/media-pos-php/main/void_item/95/93/340000.00">
								<button type="button" class="btn btn-danger">Delete</button>
							</a></td>
					</tr>
					<tr>
						<td colspan="4" align="left">&nbsp;</td>
						<td align="right">&nbsp;</td>
					</tr>

				</table>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<% include part/body-js.ejs %>
<script>
    function rowStyle(row, index) {
        var classes = ['active', 'success', 'info', 'warning', 'danger'];

        if (index % 2 === 0 && index / 2 < classes.length) {
            return {
                classes: classes[index / 2]
            };
        }
        return {};
    }
</script>
<script src="/js/order.js"></script>
</body>
</html>