.dining-table {
    margin-bottom: 15px;
}

.dining-table > div.frame {
    border-radius: 10px;
    border: 1px solid rgba(208, 208, 208, 0.68);;
}

.dining-table > div.frame > div.color {
    height: 100%;
    width: 100%;
    padding: 20%;
}

.dining-table > div.frame > div.color > div.table-no {
    margin-top: -10px;
    text-align: center;
}

.dining-table > div.frame > div.color > div.table-no > h4 {
    margin: 0;
}

.dining-table > div.frame > div.color > div.used {
    background-color: rgba(255, 153, 0, 0.72);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 25px;
    padding-top: 3px;
}

.dining-table > div.frame > div.color > div.not-used {
    background-color: rgba(0, 255, 161, 0.72);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 25px;
    padding-top: 3px;
}

.dining-table > div.frame > div.bg {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-image: url(/img/dining-table.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
    margin-left: -1px;
}

.menu {
    background-color: transparent !important;
    padding: 0 !important;
}
.menu-bg {
    border: 2px solid rgba(60, 141, 188, 0.78);;
    border-radius: 5px;
    height: 128px;
    background-image: url("http://localhost:8888/media-pos-php/menu/no_image.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}
.menu-info {
    position:absolute;
    width:100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: white;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
}
.menu-info:hover {
    color: chartreuse;
}
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}